{% extends 'MainBundle::layout.html.twig' %}

{% block body -%}
    <h1>Student list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Date de création</th>
                <th></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.matricule }}</td>
                <td>{% if entity.registerDate %}{{ entity.registerDate|date('d-m-Y') }}{% endif %}</td>
                <td><a href="{{ path('grade_create', {'id': entity.id}) }}" class="btn btn-default">Ajouter/Modifier une note</a> </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('student_show', { 'id': entity.id }) }}">Détails</a>
                    </li>
                    <li>
                        <a href="{{ path('student_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
