{% extends 'MainBundle::layout.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body -%}
    <h1>Student creation</h1>

    {{ form_start(form) }}

    {{ form_row(form.matricule) }}
    {{ form_row(form.birthdate) }}
    {{ form_row(form.sex) }}
    {{ form_row(form.registerDate) }}
    {{ form_row(form.address) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.previousSchool) }}
    {{ form_row(form.photoFilename) }}
    {{ form_row(form.homeTelephone) }}
    {{ form_row(form.mobileNumber) }}

    <div class="pull-right" >
        {{ form_widget(form.submit) }}
    </div>

    {{ form_rest(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}