{% extends 'MainBundle::layout.html.twig' %}

{% block body -%}
    <h1>Création d'un utilisateur</h1>

    {{ form_start(form) }}

    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.userType) }}

    <div class="pull-right">
        {{ form_widget(form.submit) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}
