<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/main/vendor/bootstrap-3.3.2-dist/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/main/vendor/font-awesome-4.3.0/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/main/vendor/select2-4.0.0-rc.2/dist/css/select2.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/main/css/main.css') }}"/>

        {%  if form is defined %}
            {{ form_stylesheet(form) }}
        {%  endif %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header role="banner">
    <hgroup>
        <div class="tab">
            <a href="{{ path('home') }}">Accueil</a>
            <a href="#">Bulletin</a>
            <a href="#">Test</a>
            <a href="#">Test</a>
        </div>
        <div class="user-panel">
            <div><i class="fa fa-user"></i> Vincent Lefrere</div>
            <small class="pull-right">Administrateur <i class="fa fa-arrow-circle-down"></i></small>
        </div>
    </hgroup>
</header>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/main/vendor/jquery/jquery-1.11.2.min.js') }}"
    <script src="{{ asset('bundles/main/vendor/select2-4.0.0-rc.2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/main/vendor/select2-4.0.0-rc.2/dist/js/select2.js') }}" type="text/javascript"></script>

    {%  if form is defined %}
        {{ form_javascript(form) }}
    {%  endif %}
{% endblock %}
</body>
</html>
